<h1>Dashboard</h1>
<div>
<p>This many products in the database!</p>
<p><%= @stats[:product_count] %></p>
</div>
<div>
<p>This many categories in the database!</p>
<p><%= @stats[:category_count] %></p>
</div>
